{
  "env": {
    "build": {
      "sourceMaps": true,
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "babel-polyfill"
      ]
    },
    "test": {
      "sourceMaps": "inline",
      "plugins": [
        "istanbul",
        "transform-es2015-modules-commonjs"
      ]
    },
    "dev": {
      "presets": [
        "es2015"
      ],
      "sourceMaps": true,
      "plugins": [
        [
          "transform-es2015-modules-commonjs",
          "babel-plugin-transform-runtime",
          "istanbul",
          {
            "exclude": [
              "test",
              "dev/expressionParser/expressionParser.js"
            ]
          }
        ]
      ]
    },
    "dev-build": {
      "presets": [
        "es2015"
      ],
      "sourceMaps": true,
      "plugins": [
        "transform-es2015-modules-commonjs",
        "babel-plugin-transform-runtime"
      ]
    }
  }
}